doctype html
html
	head
		title Chat
		link(rel="stylesheet", href="style.css")
		link(rel="stylesheet", href="chat.css")
		link(rel="stylesheet", href="jquery.cssemoticons.css")
		link(rel="stylesheet", href="smileys.css")
		script(src='http://code.jquery.com/jquery-1.7.1.min.js')
		script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js')
		script(src="/socket.io/socket.io.js")
		script(src="jquery.cssemoticons.js")
		script(src="smileys.js")
		script(src="script.js")

	body
		div.container#main
			div.navbar.navbar-fixed-top
				div.navbar-inner
					div.container
						a.brand(href="http://go2mycloud.blogspot.com/") JiTT-Chat#2
			div#chatEntries
			div.row#entries
				input(type='text')#messageInput
				div.btn-group
					button.btn#submit(data-loading-text="Send") Send
					button.btn.dropdown-toggle(data-toggle="dropdown")
						span.caret
					ul.dropdown-menu
						li
							a#edit(href="#modalPseudo", data-toggle="modal")
								i.icon-user
								| Change name
	div.modal.fade#modalPseudo
		div.modal-header
			h3 Choose a name
		div.modal-body
			p Choose a name :
			input(type='text')#pseudoInput

			p Please select a Language :
			select#languageInput

			script.
				$.ajax({
					type: "GET",
					dataType: "jsonp",
					url: "http://localhost:8080/langs",
					success: function(data){
						var languageSelectItem = document.getElementById('languageInput');
						console.log(data);
						for (var i=1; i < data.length; i++) {
							var opt = document.createElement('option');
							opt.value = data[i].languageCode;
							opt.innerHTML =  data[i].languageValue;
							languageSelectItem.appendChild(opt);
						}
					}
				});


			div.alert.alert-error#alertPseudo
				| This name is already used ! Choose another one.
		div.modal-footer
			button.btn.btn-primary#pseudoSubmit Go to the chat
